Repository Digital-Native-Ventures/alfred-agent-platform-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevOps, @SRE, @FinanceTeam, @LegalTeam, @SocialTeam, @TechWriters, @UITeam, @CoreTeam, @QA

WIP local changes
  WORKBENCH-UP-NO-GCLOUD.SH
  bring-up-modern-workbench.sh
  docker-compose.override.yml
  docker-compose.yml
  enable-full-automation.sh
  fresh-check-and-up.sh
  full-automation-up.sh
  local-workbench-up.sh
  reset-and-up-chat-export.sh
  run-workbench-sans-cloudsdk.sh
  services/agent-orchestrator/Dockerfile
  services/agent-orchestrator/docker-compose.full.yml
  services/architect-api/Dockerfile
  services/architect-api/architect_app.py
  services/pubsub/Dockerfile
  ship-chat-export.sh
  start-chat-workbench.sh
  start-workbench-local.sh
  test-export-server.py
  test-export.md
  test_export.py
  unblock-and-start-modern-workbench.sh
  up-full-stack.sh
  up-stack-no-slack.sh
  up-workbench-no-gcloud.sh
  up-workbench-no-slack.sh
Owners: @DevOps

feat(docs): minimal viable wiring — Phase-8 markdown, MkDocs, /plan API, nightly archive
  .github/workflows/archive-docs.yml
  .github/workflows/docs.yml
  docs/phase-8.md
  mkdocs.yml
  services/architect-api/app/routers/plan.py
  services/architect-api/architect_app.py
  slash-command-stub.txt
Owners: @DevOps, @TechWriters

feat(docs): minimal viable wiring (Phase-8 plan, /plan API, nightly archive) (#858)
  .github/workflows/archive-docs.yml
  .github/workflows/docs.yml
  WORKBENCH-UP-NO-GCLOUD.SH
  bring-up-modern-workbench.sh
  docker-compose.override.yml
  docker-compose.yml
  docs/phase-8.md
  enable-full-automation.sh
  fresh-check-and-up.sh
  full-automation-up.sh
  local-workbench-up.sh
  mkdocs.yml
  reset-and-up-chat-export.sh
  run-workbench-sans-cloudsdk.sh
  services/agent-orchestrator/Dockerfile
  services/agent-orchestrator/docker-compose.full.yml
  services/architect-api/Dockerfile
  services/architect-api/app/routers/plan.py
  services/architect-api/architect_app.py
  services/pubsub/Dockerfile
  ship-chat-export.sh
  slash-command-stub.txt
  start-chat-workbench.sh
  start-workbench-local.sh
  test-export-server.py
  test-export.md
  test_export.py
  unblock-and-start-modern-workbench.sh
  up-full-stack.sh
  up-stack-no-slack.sh
  up-workbench-no-gcloud.sh
  up-workbench-no-slack.sh
Owners: @DevOps, @TechWriters

fix(api): register /plan router and copy docs into image
  docker-compose.yml
  services/architect-api/Dockerfile
  services/architect-api/app/main.py
  services/architect-api/app/routers/plan.py
Owners: @DevOps

feat(deploy): add v3.0.2 deployment script for Phase 8 release
  scripts/deploy-v3.0.2.sh
Owners: @DevOps

feat(ui): Phase 9 UI uplift - command palette (⌘K), service health monitoring, plan page integration, quick actions
  services/agent-orchestrator/package-lock.json
  services/agent-orchestrator/package.json
  services/agent-orchestrator/src/App.tsx
  services/agent-orchestrator/src/__tests__/chat-export.test.tsx
  services/agent-orchestrator/src/components/CommandPalette.tsx
  services/agent-orchestrator/src/components/ServiceHealth.tsx
  services/agent-orchestrator/src/components/dashboard/DashboardView.tsx
  services/agent-orchestrator/src/components/dashboard/QuickActions.tsx
  services/agent-orchestrator/src/components/layout/Sidebar.tsx
  services/agent-orchestrator/src/components/layout/Topbar.tsx
  services/agent-orchestrator/src/features/chat/ChatPane.tsx
  services/agent-orchestrator/src/pages/PlanPage.tsx
  services/agent-orchestrator/src/test/setup.ts
  services/agent-orchestrator/vite.config.ts
Owners: @DevOps

test(e2e): basic UI smoke-flow with Playwright
  services/agent-orchestrator/package-lock.json
  services/agent-orchestrator/package.json
  services/agent-orchestrator/playwright.config.ts
  services/agent-orchestrator/src/components/ServiceHealth.tsx
  services/agent-orchestrator/tests/e2e/README.md
  services/agent-orchestrator/tests/e2e/ui-mock.spec.ts
  services/agent-orchestrator/tests/e2e/ui.spec.ts
Owners: @DevOps

ci(e2e): add Phase 9 UI smoke-run validation and CI workflow
  .github/workflows/ui-e2e.yml
  scripts/init_architect_memory.sql
  scripts/init_project_state.sql
  scripts/smoke-ui-simple.sh
  scripts/smoke-ui.sh
Owners: @DevOps

feat(ui): adopt Phase-9 wireframe layout + design tokens
  design/wireframes/phase-9/README.md
  services/agent-orchestrator/src/App.tsx
  services/agent-orchestrator/src/Layout.tsx
  services/agent-orchestrator/tailwind.config.ts
Owners: @DevOps

fix(ui): add SidebarProvider to Layout component
  services/agent-orchestrator/src/Layout.tsx
Owners: @DevOps

chore: bootstrap Claude context sync (CLAUDE.md, helper, logbook action)
  .context-tools/context
  .github/workflows/memory-logbook.yml
  ui-console/CLAUDE.md
Owners: @DevOps

chore(ci): auto-format & fix lint/test issues
  services/architect-api/app/main.py
  services/architect-api/app/routers/plan.py
  services/architect-api/architect_app.py
  services/planner-api/planner_app.py
  services/reviewer-api/reviewer_app.py
  services/summariser-api/app/main.py
  services/summariser/summariser_app.py
Owners: @DevOps

ci: trigger full pipeline after formatting fixes
  .ci-trigger
Owners: @DevOps

fix(format): add missing newlines for black compliance
  services/architect-api/app/routers/plan.py
  services/architect-api/tests/test_export.py
Owners: @DevOps

fix(format): apply black formatting to remaining files
  services/architect-api/app/routers/plan.py
Owners: @DevOps

feat(ui): scaffold placeholder pages for shell MVP
  ui-console/src/pages/Admin.tsx
  ui-console/src/pages/Chat.tsx
  ui-console/src/pages/Incidents.tsx
  ui-console/src/pages/Overview.tsx
  ui-console/src/pages/Plan.tsx
  ui-console/src/pages/Projects.tsx
Owners: @DevOps

docs: add e2e flows outline
  docs/e2e-flows.md
Owners: @TechWriters

docs: seed logbook folder
  docs/logbook/2025-06.md
Owners: @TechWriters

chore: remove legacy static UI artifact
  services/new-ui/.gitignore
  services/new-ui/Dockerfile
  services/new-ui/README.md
  services/new-ui/eslint.config.js
  services/new-ui/index.html
  services/new-ui/nginx.conf
  services/new-ui/package-lock.json
  services/new-ui/package.json
  services/new-ui/postcss.config.js
  services/new-ui/public/run/push-report
  services/new-ui/public/vite.svg
  services/new-ui/src/App.css
  services/new-ui/src/App.jsx
  services/new-ui/src/assets/react.svg
  services/new-ui/src/components/ApprovalMetrics.jsx
  services/new-ui/src/components/ArchivedPRDs.jsx
  services/new-ui/src/components/PRDStatusDashboard.jsx
  services/new-ui/src/components/SuggestedPRDs.jsx
  services/new-ui/src/index.css
  services/new-ui/src/main.jsx
  services/new-ui/src/pages/Control.jsx
  services/new-ui/src/pages/Project.jsx
  services/new-ui/tailwind.config.js
  services/new-ui/vite.config.js
Owners: @DevOps

chore: remove legacy static UI artifact
  services/new-ui/.gitignore
  services/new-ui/Dockerfile
  services/new-ui/README.md
  services/new-ui/eslint.config.js
  services/new-ui/index.html
  services/new-ui/nginx.conf
  services/new-ui/package-lock.json
  services/new-ui/package.json
  services/new-ui/postcss.config.js
  services/new-ui/public/run/push-report
  services/new-ui/public/vite.svg
  services/new-ui/src/App.css
  services/new-ui/src/App.jsx
  services/new-ui/src/assets/react.svg
  services/new-ui/src/components/ApprovalMetrics.jsx
  services/new-ui/src/components/ArchivedPRDs.jsx
  services/new-ui/src/components/PRDStatusDashboard.jsx
  services/new-ui/src/components/SuggestedPRDs.jsx
  services/new-ui/src/index.css
  services/new-ui/src/main.jsx
  services/new-ui/src/pages/Control.jsx
  services/new-ui/src/pages/Project.jsx
  services/new-ui/tailwind.config.js
  services/new-ui/vite.config.js
Owners: @DevOps

chore(ui): add Shell MVP checklist and stub Playwright test
  ui-console/CLAUDE.md
  ui-console/package-lock.json
  ui-console/package.json
  ui-console/tests/e2e/ui-shell.spec.ts
Owners: @DevOps

docs: seed logbook folder
  docs/logbook/2025-06.md
Owners: @TechWriters

docs: add e2e flows outline
  docs/e2e-flows.md
Owners: @TechWriters

chore(ui): purge legacy artefacts – fresh shell only
  ui-console/CLAUDE.md
  ui-console/check-ports.js
  ui-console/index.html
  ui-console/postcss.config.js
  ui-console/src/App.tsx
  ui-console/src/components/ServiceHealth.tsx
  ui-console/src/components/Sidebar.tsx
  ui-console/src/pages/Overview.tsx
  ui-console/src/pages/ProjectPlan.tsx
  ui-console/src/pages/Projects.tsx
  ui-console/src/test-styles.css
  ui-console/test-ui.js
  ui-console/tests/smoke.spec.ts
Owners: @DevOps

chore(ui): purge legacy public assets + regenerate minimal index
  ui-console/index.html
Owners: @DevOps

style(api): black format pass & tests green
  alfred/integrations/pagerduty.py
  alfred/slack/diagnostics/bot.py
  n8n-data/config
  n8n-data/crash.journal
  n8n-data/database.sqlite
  n8n-data/nodes/package.json
  services/architect-api/app/main.py
  services/architect-api/architect_app.py
  services/cost-api/cost_api.py
  services/planner-api/planner_app.py
  services/reviewer-api/reviewer_app.py
  services/summariser-api/app/main.py
  services/summariser/summariser_app.py
  test-export-server.py
  test_export.py
  ui-console/src/pages/Overview.tsx
  ui-console/tailwind.config.js
Owners: @DevOps

test(e2e): Playwright smoke for stat cards & activity dots
  ui-console/package-lock.json
  ui-console/package.json
  ui-console/tailwind.config.js
  ui-console/tests/e2e/ui-smoke.spec.ts
Owners: @DevOps

chore(ui): pin to port 3000, expose container, add SPA catch-all
  docker-compose.yml
  ui-console/Dockerfile
  ui-console/nginx.conf
  ui-console/src/App.tsx
  ui-console/src/index.css
  ui-console/src/vite-env.d.ts
  ui-console/vite.config.ts
Owners: @DevOps

style: fix Python import ordering with isort
  alfred/integrations/pagerduty.py
  test-export-server.py
Owners: @DevOps

feat(chat): wire Architect chat via SSE to backend
  ui-console/nginx.conf
  ui-console/src/chat/useArchitectChat.ts
  ui-console/src/pages/Chat.tsx
  ui-console/vite.config.ts
Owners: @DevOps

feat(chat): architect chat panel with SSE streaming
  ui-console/Dockerfile
  ui-console/docker/nginx/start.sh
  ui-console/src/App.tsx
  ui-console/src/components/Sidebar.tsx
  ui-console/src/modules/chat/ChatPanel.tsx
  ui-console/src/modules/chat/useArchitectChat.ts
Owners: @DevOps

chore(chat): add SSE stub server for local development
  ui-console/sse-stub.cjs
Owners: @DevOps

test(chat): add E2E tests and improve SSE connection logic
  ui-console/src/modules/chat/useArchitectChat.ts
  ui-console/tests/e2e/chat-stream.spec.ts
Owners: @DevOps

chore(chat): add production configuration for architect backend
  ui-console/config.production.js
Owners: @DevOps

docs: add Architect Chat ADR + Phase-9 updates
  docs/adr/ADR-003-architect-chat-stream.md
  docs/phase-9.md
Owners: @TechWriters

fix(architect-api): resolve ImportError and add chat router
  services/architect-api/app/main.py
  services/architect-api/app/routers/chat.py
  services/summariser-api/app/main.py
Owners: @DevOps

chore: add package name and version for tagging
  package.json
Owners: @DevOps

fix(chat): consolidate chat routes to /chat only
  ui-console/src/App.tsx
  ui-console/src/components/Sidebar.tsx
Owners: @DevOps

fix: remove unused Cpu import
  ui-console/src/components/Sidebar.tsx
Owners: @DevOps

fix(chat): add nginx proxy for /api/ requests to architect-api
  ui-console/nginx.conf
Owners: @DevOps

.github/CODEOWNERS:

# CODEOWNERS for Alfred Agent Platform v2
# Each line is a file pattern followed by one or more owners.

# Default owners for everything in the repo
* @DevOps

# Core infrastructure
/docker-compose*.yml @DevOps
/infra/ @DevOps @SRE

# Service Dockerfiles - Always require DevOps review
**/Dockerfile @DevOps

# Monitoring configurations - SRE team owns
/monitoring/ @SRE
/scripts/lint-metrics-format.sh @SRE
/scripts/test-metrics-ports.sh @SRE
/scripts/bump-healthcheck.sh @SRE @DevOps

# Agent implementations - Owned by corresponding teams
/agents/financial_tax/ @FinanceTeam
/agents/legal_compliance/ @LegalTeam
/agents/social_intel/ @SocialTeam

# Documentation - TechWriters must review
/docs/ @TechWriters
/CONTRIBUTING.md @TechWriters @DevOps
/README.md @TechWriters
/CHANGELOG.md @TechWriters @DevOps

# CI/CD pipeline - DevOps team owns
/.github/workflows/ @DevOps
/scripts/ @DevOps

# Services - Owned by corresponding teams with DevOps oversight
/services/financial-tax/ @FinanceTeam @DevOps
/services/legal-compliance/ @LegalTeam @DevOps
/services/social-intel/ @SocialTeam @DevOps
/services/streamlit-chat/ @UITeam @DevOps
/services/mission-control/ @UITeam @DevOps

# API and libraries - Core team owns
/api/ @CoreTeam
/libs/ @CoreTeam

# Tests - Everyone should care, but DevOps and QA must review
/tests/ @DevOps @QA
